name: Deploy bot
on:
    workflow_dispatch:
    release:
        types: [published]

jobs:
    run:
        name: Deploy bot
        runs-on: ubuntu-20.04

        steps:
            - name: Checkout
              uses: actions/checkout@v3.0.2
              with:
                  ref: ${{ github.head_ref }}

            - name: Setup Node.JS
              uses: actions/setup-node@v3.4.1
              with:
                  node-version: "16.17.0"
                  cache: "npm"

            - name: Install
              run: npm ci --force

            - name: Deploy
              run: npx railway up --detach
              env:
                  RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

            - name: Clean DB listeners
              run: curl https://sa-discord.up.railway.app/cleanDatabaseListeners
