name: Deploy bot
on:
    workflow_dispatch:
    release:
        types: [published]

jobs:
    run:
        name: Deploy bot
        runs-on: ubuntu-20.04

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.7
              with:
                  ref: ${{ github.head_ref }}

            - name: Setup Node.JS
              uses: actions/setup-node@v4.0.3
              with:
                  node-version: 20.6.0
                  cache: npm

            - name: Download bad words
              run:
                  curl "https://gist.githubusercontent.com/${{ secrets.PRIVATE_GIST
                  }}/raw/automod_bad-words.ts" --output modules/automod/bad-words.ts

            - name: Download autos data
              run:
                  curl "https://gist.githubusercontent.com/${{ secrets.PRIVATE_GIST
                  }}/raw/autos_autos-data.ts" --output modules/autos/autos-data.ts

            - name: Download dad
              run:
                  curl "https://gist.githubusercontent.com/${{ secrets.PRIVATE_GIST
                  }}/raw/autos_dad.ts" --output modules/autos/dad.ts

            - name: Download strings
              run:
                  curl "https://gist.githubusercontent.com/${{ secrets.PRIVATE_GIST
                  }}/raw/strings.ts" --output common/strings.ts

            - name: Touch .env
              run: touch .env

            - name: Checkout images
              run: git clone https://gist.github.com/${{ secrets.IMAGES_GIST }}.git .private/images

            - name: Install
              run: npm ci --force

            - name: Deploy
              run:
                  npx railway up --detach --service afdb8def-13c6-4650-af4e-ef60d2009b56
                  --environment production
              env:
                  RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

            - name: Clean DB listeners
              run: curl https://sa-discord.up.railway.app/prepare-exit?auth=${{ secrets.EXIT_AUTH }}
