name: Deploy bot
on:
    workflow_dispatch:
    release:
        types: [published]

jobs:
    run:
        name: Deploy bot
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
              with:
                  ref: ${{github.head_ref}}

            - name: Setup Node.JS
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
              with:
                  node-version-file: package.json
                  cache: npm

            - name: Install
              run: npm ci --force

            - name: Deploy
              run:
                  npx railway up --ci --service afdb8def-13c6-4650-af4e-ef60d2009b56 --environment
                  production
              env:
                  RAILWAY_TOKEN: ${{secrets.RAILWAY_TOKEN}}

            - name: Clean DB listeners
              run: curl https://sa-discord.up.railway.app/prepare-exit?auth=${{secrets.EXIT_AUTH}}
