name: Deploy bot
on:
    workflow_dispatch:
    release:
        types: [published]

jobs:
    run:
        name: Deploy bot
        runs-on: ubuntu-20.04

        steps:
            - name: Checkout
              uses: actions/checkout@v3.3.0
              with:
                  ref: ${{ github.head_ref }}

            - name: Setup Node.JS
              uses: actions/setup-node@v3.6.0
              with:
                  node-version: "18.12.1"
                  cache: "npm"

            - name: Install
              run: npm ci --force

            - name: Link
              run: npx railway link --environment production b8b10332-30c2-4b72-8999-78c69ddcd63a
              env:
                  RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

            - name: Deploy
              run: npx railway up --detach
              env:
                  RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

            - name: Clean DB listeners
              run:
                  curl https://sa-discord.up.railway.app/cleanDatabaseListeners?auth=${{
                  secrets.CDBL_AUTH }}
