name: Deploy bot
on:
    workflow_dispatch:
    release:
        types: [published]

jobs:
    run:
        name: Deploy bot
        runs-on: ubuntu-20.04

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.0
              with:
                  ref: ${{ github.head_ref }}

            - name: Setup Node.JS
              uses: actions/setup-node@v3.8.1
              with:
                  node-version: "20.6.0"
                  cache: npm

            - name: Download bad words
              run: curl ${{ secrets.BAD_WORDS }} --output modules/automod/badWords.ts

            - name: Download secrets
              run: curl ${{ secrets.SECRETS }} --output modules/auto/secrets.ts

            - name: Install
              run: npm ci --force

            - name: Link
              run: npx railway link --environment production b8b10332-30c2-4b72-8999-78c69ddcd63a
              env:
                  RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

            - name: Deploy
              run: npx railway up --detach
              env:
                  RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

            - name: Clean DB listeners
              run:
                  curl https://sa-discord.up.railway.app/clean-database-listeners?auth=${{
                  secrets.CDBL_AUTH }}
