name: Lint
on:
    push:
    pull_request_target:
    workflow_dispatch:

permissions: write-all

jobs:
    format:
        name: Format
        runs-on: ubuntu-20.04

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.6
              with:
                  ref: ${{ github.head_ref }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}

            - name: Setup Node.JS
              uses: actions/setup-node@v4.0.2
              with:
                  node-version: 20.6.0
                  cache: npm

            - name: Install
              run: npm ci

            - name: Format
              run: npm run format

            - name: Assert clean
              if: startsWith(github.ref_name, 'dependabot/') == true
              run: if [[ `git status --porcelain` ]]; then exit 1; fi

            - name: Commit
              uses: stefanzweifel/git-auto-commit-action@v5.0.1
              with:
                  commit_message: Format

    analyze:
        name: Analyze
        runs-on: ubuntu-20.04

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.6
              with:
                  ref: ${{ github.head_ref }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}

            - name: Setup CodeQL
              uses: github/codeql-action/init@v3.25.9
              with:
                  languages: javascript
                  queries: security-and-quality

            - name: Analyze
              uses: github/codeql-action/analyze@v3.25.9

    build:
        name: Build & Test
        runs-on: ubuntu-20.04

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.6
              with:
                  ref: ${{ github.head_ref }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}

            - name: Setup Node.JS
              uses: actions/setup-node@v4.0.2
              with:
                  node-version: 20.6.0
                  cache: npm

            - name: Install
              run: npm ci

            - name: Build & Test
              run: npm run test

    lint:
        name: Lint
        runs-on: ubuntu-20.04

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.6
              with:
                  ref: ${{ github.head_ref }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}

            - name: Setup Node.JS
              uses: actions/setup-node@v4.0.2
              with:
                  node-version: 20.6.0
                  cache: npm

            - name: Install
              run: npm ci

            - name: Lint
              run: npm run lint
