/** chip */
.chip {
	display: inline-flex;
	align-items: center;
	vertical-align: baseline;
	border: 1px solid transparent;
	border-radius: 20px;
	background-color: hsl(216 9.8% 90%);
	padding: 0 12px;
	height: 32px;
	color: rgb(49, 51, 56);
	font-weight: 600;
	font-size: 14px;
}

.chip.selected {
	border-color: rgb(88, 101, 242);
	background-color: rgb(231, 233, 253);
}

.chip .chip-emoji {
	margin-right: 6px;
	width: 14px;
	height: 14px;
}

/** messages */
.discord-messages {
	font-size: 16px;
	line-height: 170%;
}

.discord-message {
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 0 1em;
	word-wrap: break-word;
	flex: 0 0 auto;
	margin-top: 1.0625rem;
	border-color: #eceeef;
	color: #2e3338;
}

.discord-message:first-child:not(:only-child) {
	border-bottom: 4px double currentColor;
}

.discord-message:hover {
	background-color: rgba(6, 6, 7, 0.02);
}

.discord-message .discord-message-inner {
	display: flex;
	position: relative;
	flex: 0 0 auto;
}

.discord-message .discord-message-content {
	padding-top: 2px;
	width: 100%;
	line-height: 160%;
}

/** command */
.discord-executed-command {
	display: flex;
	position: relative;
	align-items: center;
	margin-bottom: 4px;
	margin-left: 56px;
	padding-top: 2px;
	color: #4f5660;
	font-size: 0.875rem;
	line-height: 1.125rem;
	user-select: none;
}

.discord-executed-command:before {
	display: block;
	position: absolute;
	top: 50%;
	right: 100%;
	bottom: 0;
	left: -36px;
	margin-top: -1px;
	margin-right: 4px;
	margin-bottom: -2px;
	margin-left: -1px;
	border-top: 2px solid #747f8d;
	border-right: 0 solid #747f8d;
	border-bottom: 0 solid #747f8d;
	border-left: 2px solid #747f8d;
	border-top-left-radius: 6px;
	content: "";
}

.discord-executed-command .discord-executed-command-avatar {
	flex: 0 0 auto;
	margin-right: 0.25rem;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	user-select: none;
}

.discord-executed-command .discord-executed-command-username {
	opacity: 0.64;
	margin-right: 1cw;
	font-weight: 500;
}

.discord-executed-command .discord-command-name {
	color: #00aff4;
	font-weight: 500;
}

/** author */
.discord-message .discord-author-avatar {
	margin-top: 5px;
	margin-right: 16px;
	min-width: 40px;
}

.discord-message .discord-author-avatar img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.discord-message .discord-author-info {
	display: inline-flex;
	align-items: center;
	margin-right: 0.25rem;
	font-size: 16px;
}

.discord-message .discord-author-info .discord-author-username {
	color: #23262a;
	font-weight: 500;
	font-size: 1em;
}

.discord-message .discord-author-info .discord-author-role-icon {
	vertical-align: top;
	margin-left: 0.25rem;
	width: calc(1rem + 4px);
	height: calc(1rem + 4px);
}

.discord-message .discord-author-info .discord-application-tag {
	display: flex;
	align-items: center;
	margin-top: 0.075em;
	margin-left: 4px;
	border-radius: 0.1875rem;
	background-color: #5865f2;
	padding: 0 0.275rem;
	height: 0.9375rem;
	color: #fff;
	font-size: 0.625em;
	line-height: 100%;
	text-transform: uppercase;
}

.discord-message .discord-message-timestamp {
	margin-left: 3px;
	color: #99aab5;
	font-size: 12px;
}

/** content */
.discord-message-body {
	position: relative;
	font-weight: 400;
	word-break: break-word;
}

.discord-message .discord-message-markup {
	line-height: 1.375rem;
	word-wrap: break-word;
	user-select: text;
}

.discord-message .discord-message-markup > :not(.chip) {
	white-space: pre-wrap;
}

.discord-message-markup a {
	color: #00b0f4;
	font-weight: normal;
	text-decoration: none;
}

.discord-message-markup a:hover {
	text-decoration: underline;
}

.discord-message-markup strong {
	font-weight: 700;
}

.discord-message-markup u {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: rgb(220, 221, 222);
	text-decoration-thickness: auto;
}

.discord-message-markup blockquote {
	display: flex;
	margin-inline-start: unset;
	margin-inline-end: unset;
	margin-block-start: unset;
	margin-block-end: unset;
	padding: 0 8px 0 12px;
}

.discord-message-markup blockquote::before {
	margin: 0;
	border-radius: 4px;
	background-color: #4f545c;
	padding: 0;
	width: 4px;
	content: " ";
	font-style: normal;
	font-weight: 400;
	font-size: 0.9em;
}

.discord-message-markup pre {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.5rem;
	border: 1px solid #202225;
	border-radius: 4px;
	border-radius: 4px;
	background-color: #2f3136;
	padding: 0.5em;
	color: #b9bbbe;
	font-size: 0.875rem;
}

.discord-message-markup pre code {
	display: block;
	padding: unset;
	overflow-x: auto;
	white-space: pre-wrap;
}

.discord-message-markup code {
	font-family: "Consolas", "Courier New", Courier, monospace;
	white-space: break-spaces;
}

.discord-message-markup code::selection {
	background-color: #53585b;
}

.discord-message-markup .discord-custom-emoji {
	display: inline-block;
	vertical-align: bottom;
	width: 1.375rem;
	height: 1.375rem;
	object-fit: contain;
}

.discord-message-markup .discord-spoiler {
	cursor: pointer;
	background-color: #b9bbbe;
	color: transparent;
}

.discord-message-markup .discord-spoiler:hover {
	background-color: rgba(185, 187, 190, 0.8);
}

.discord-message-markup .discord-spoiler--revealed {
	background-color: rgba(0, 0, 0, 0.1);
	color: inherit;
}

.discord-message-markup .discord-time,
.discord-message-markup code {
	border-radius: 3px;
	background-color: #0000000f;
	padding: 0 2px;
}

.discord-message-markup .discord-mention {
	transition:
		background-color 50ms ease-out,
		color 50ms ease-out;
	border-radius: 3px;
	background-color: hsla(235, 85.6%, 64.7%, 0.15);
	padding: 0 2px;
	color: #687dc6;
	font-weight: 500;
}

.discord-message-markup .discord-mention:hover {
	background-color: hsl(235, 85.6%, 64.7%);
	color: #ffffff;
}

/** attachments */
.discord-attachments {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 0.25rem;
	position: relative;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	min-width: 0;
	min-height: 0;
	text-indent: 0;
}

.discord-attachment {
	display: flex;
	align-self: start;
	justify-self: start;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #dcddde;
	font-size: 0.9em;
	line-height: 150%;
}

.discord-attachment .discord-image-wrapper {
	display: block;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	user-select: text;
}

.discord-attachment .discord-image-wrapper img,
.discord-attachment .discord-image-wrapper video {
	max-width: 500px;
	height: auto;
}
