@import url("/sora/index.css");

* {
	box-sizing: border-box;
	font-family: "Sora Variable", sans-serif;
	--theme-color: #000;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	padding: 4rem 0 0.25rem;
	width: 80%;
}

nav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	z-index: 1;
	background-color: var(--theme-color);
	padding: 0 10%;
	width: 100vw;
	height: 4rem;
	color: white;
	font-weight: 600;
	font-size: 1.2rem;
}

a {
	color: var(--theme-color);
	text-decoration: none;
}

a:hover {
	text-decoration: solid;
}

nav a,
h1 a {
	color: inherit;
}

h1 a:hover {
	color: var(--theme-color);
	text-decoration: none;
}

.appeal-form {
	margin-top: 3rem;
}

.nav-logo {
	margin-right: 0.5rem;
	height: 3rem;
}

textarea {
	display: block;
	transition: all 0.5s;
	margin-top: 1.4rem;
	outline: none;
	border: 0;
	border-radius: 0.5rem;
	background-color: #efefef;
	padding: 0.75rem;
	width: 100%;
	height: 3rem;
	min-height: 3rem;
	max-height: 3rem;
	overflow: hidden;
	resize: none;
}

textarea:focus {
	min-height: 9rem;
	max-height: 20rem;
	overflow: auto;
	resize: vertical;
}

textarea::placeholder {
	opacity: 0.5;
}

button {
	transition: all 0.3s;
	border: 0;
	border-radius: 0.5rem;
	background-color: var(--theme-color);
	padding: 0.75rem 2rem;
	color: white;
}

button:hover {
	transform: scale(102%);
	opacity: 0.8;
}

p.disclaimer {
	opacity: 0.5;
	font-weight: 200;
	font-size: 0.8rem;
}

label {
	display: block;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.note {
	margin-bottom: 1.5rem;
	box-shadow: 0 0 5px;
	border-radius: 10px;
	padding: 10px;
	white-space: pre-line;
}
.red {
	background: #f43f5e;
}
.green {
	background: #22c55e;
}

.emojisplosion {
	position: fixed;
	z-index: 10;
	transition:
		16ms opacity,
		16ms transform;
	cursor: default;
	margin-top: -1em;
	margin-left: -1em;
	border: none;
	background: none;
	width: 2em;
	height: 2em;
	user-select: none;
}
