@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body {
	font-family: "Sora", sans-serif;
	--theme-color: #000
}

.nav {
	background-color: var(--theme-color);
	height: 4rem;
	color: white;
	font-weight: 600;
	font-size: 1.2rem;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	padding: 0 10rem;
	align-items: center;
	display: flex;
}

body {
	padding: 4rem 10rem 0.25rem;
}

.blurple {
	color: var(--theme-color);
}

.appeal-form {
	margin-top: 3rem;
}

.scradd-nav {
	height: 3rem;
	margin-right: 0.5rem;
}

textarea {
	background-color: #efefef;
	border: 0;
	outline: none;
	padding: 0.75rem;
	font-family: "Sora", sans-serif;
	border-radius: 0.5rem;
	resize: none;
	height: 2rem;
	max-height: 2rem;
	min-height: 2rem;
	width: 40rem;
	overflow: hidden;
	display: block;
	margin-top: 1.4rem;
	transition: all 0.5s;
}

textarea:focus {
	min-height: 8rem;
	resize: vertical;
	max-height: 20rem;
	overflow: auto;
}

textarea::placeholder {
	opacity: 0.5;
}

button {
	background-color: var(--theme-color);
	color: white;
	border: 0;
	outline: none;
	padding: 0.75rem;
	font-family: "Sora", sans-serif;
	border-radius: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	cursor: pointer;
	transition: all 0.3s;
	transform: none;
	opacity: 1;
}

button:hover {
	transform: scale(102%);
	opacity: 0.8;
}

p.disclaimer {
	font-weight: 200;
	font-size: 0.8rem;
	opacity: 0.5;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 1.5rem;
}
